__pycache__
recordings*
Scripts
Lib
tocken.pickle
token.pickle
Include
DriveAPI/__pycache__
DriveAPI/credentials.json
DriveAPI/quickstart.py
readMarkersStream.py
pyvenv.cfg
.pylintrc
sendDataAdvanced.py
test_eeg.csv
test_ppg.csv
.vs
experimental.py
embeddingInQt.py
dist
build
main.spec
settingsWindow.py
main.py
.spec
utils.py
values.txt
*/*/BlueMuse_*
*/*/DriveAPI
*/*/icons
*/*/*.exe
*/*/*.zip
BlueMuse_*
wizard.py
lorenz.py
ami*
*.pdf
pybluez-master
tesisManu
tesisManu\results\lyapunovs
tesisManu/data
tesisManu/plot_lyapunovs.m
misc/F
misc/N
misc/O
misc/S
misc/Z
slprj
*.zip
*.mp4
*.wmv
MuseGUI_Student_v*.exe
MuseGUI
MuseGUI*
face_recordings
dist_v*
MuseGUI_Student_v*.exe
versions